nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    list-style: none;
}
li a.active {
    color: orange;
    font-size: 4vh;
    font-weight: 2vw;
  }
  
a{
    text-decoration: none;
    
}